


<!----------------------------------------------------------------->

<body class="bg-gradient-primary">

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                  <p class="mb-4"> Enter your password below and we'll reset your password!</p>
                </div>
                <%= form_for(@employee, url: password_reset_path(params[:id])) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>

                    <%= hidden_field_tag :email, @employee.email %>

                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>

                    <%= f.label :password_confirmation, "Confirmation" %>
                    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password"%>
<br>
                    <%= f.submit "Update password", class: "btn btn-primary btn-user btn-block" %>
                <% end %>

                <!--  <form class="user">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <a href="login.html" class="btn btn-primary btn-user btn-block">
                      Reset Password
                    </a>
                  </form>-->
                <hr>

                <div class="text-center">
                  <a class="small" href="<%= login_path %>">Don't want reset? Login!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>



</body>
