<% provide(:title, 'All Admins') %>
<h1>All Admins</h1>

<%= will_paginate %>
<div class="container employees">

  <ul>
    <% @employees.admins.each do |employee| %>
        <li>


              <%= link_to employee.name.humanize, employee %>



              <% if employee.status == true %>

                  <button class=" btn-lg btn-dark float-right" style=" margin-right:20px;"    > <%= link_to "Deactivate",  employee_deactivate_path(employee), method: :post, data: { confirm: "Are you sure?" } %> </button>

              <%else%>
                  <button class="btn-lg btn-success float-right" style=" margin-right:20px; width:13%" >  <%= link_to "Activate",  employee_activate_path(employee), method: :post, class: "temp2", data: { confirm: "Are you sure?" } %>
                  </button>
              <%end %>

              <button class="btn-lg btn-danger float-right" style=" margin-right:20px; width:13%" >  <%= link_to "Delete", employee, method: :delete,
                                                                                                                 data: { confirm: "You sure?" } %> </button>
              <button class="btn-lg btn-info float-right" style=" margin-right:20px; width:13%" >  <%= link_to "Update", edit_employee_path(employee) %>
              </button>



        </li>
    <% end %>
  </ul>

</div>

<br>
<button class="btn btn-primary btn-user btn-block" > <%= link_to "Back", portal_path, class: "temp"  %>  </button>


<%= will_paginate %>