<% provide(:title, 'Update') %>

<!------------------------------------->

<body class="bg-gradient-primary">

<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-update"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Update Profile!</h1>
            </div>

            <%= form_for(@employee) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                <%= f.file_field :avatar %>
<br>
                <div class="form-group">
                  <%= f.text_field :name, class: 'form-control form-control-user', id: "exampleFirstName", placeholder: "Name" %>
                </div>

                <div class="form-group">
                  <%= f.email_field :email, class: "form-control form-control-user", id: "exampleInputEmail", placeholder: "Email Address" %>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <%= f.password_field :password, class: "form-control form-control-user", id: "exampleInputPassword", placeholder: "Password" %>
                  </div>
                  <div class="col-sm-6">
                    <%= f.password_field :password_confirmation, class: "form-control form-control-user", id: "exampleRepeatPassword", placeholder: "Confirm Password" %>
                  </div>
                </div>
                <div>

                  <%= f.select :designation_id, @designation.collect { |p| [p.name.humanize, p.id] }, {include_blank: "Select something"}, {:class => "dropdown"} %>

                </div>


                <%= f.submit "Save Changes", class: "btn btn-primary btn-user btn-block" %>
            <% end %>
            <!--  <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                  </div>
                </div>
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Register Account
                </a>
                <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              </form> -->
            <hr>

            <div class="text-center">
              <a class="small" href="<%= employee_path(current_user) %>">Don't want to update Account? Back!</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</body>
