<body>

<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="text-right">
        <a class="text-capitalize text-white" href="<%= portal_path %>"> Go Back!</a>
      </div>
      <h1 class="h4 text-white mb-4"> Added Salaries</h1>
      <div class="table100">
        <table class="salary">
          <thead>
          <tr class="table100-head">
            <th class="column1">Date</th>
            <th class="column2">Admin Name</th>
            <th class="column3">Name</th>
            <th class="column4">Gross Salary</th>
            <th class="column5">Amount</th>
            <th class="column6">Bonus</th>
            <th class="column7">Total</th>
            <th class="column7">View</th>
            <% if current_user.admin %>
                <th class="column7">Delete Salary</th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @salaries.each do |salary| %>
              <tr>
                <td class="column1"><%= salary.date_payed %></td>
                <td class="column2"><%= salary.processed_by.name %></td>
                <td class="column3"><%= salary.employee.name.humanize %></td>
                <td class="column4"><%= salary.employee.gross_salary %></td>
                <td class="column5"><%= salary.amount_paid %></td>
                <td class="column6"><%= salary.bonus %></td>
                <td class="column7"><%= salary.amount_paid + salary.bonus %></td>
                <td class="column7"><%= link_to "View", salary_path(salary) %> </td>
                <% if current_user.admin %>
                    <td class="column7"><%= link_to "Delete", salary, method: :delete,
                                                    data: {confirm: "You sure?"} %> </td>
                <% end %>
              </tr>
          <% end %>


          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>


</body>