


<% provide(:title, 'Add Salary') %>

<!------------------------------------->

<body class="bg-gradient-primary">

<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-salary"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Add salary!</h1>
            </div>

            <%= form_for(@salary, url: salary_index_path) do |f| %>
                <%= render 'shared/error_messages', object: f.object  %>

                    <%= f.fields_for :documents , @document  do |d| %>
                        <%= d.file_field :avatar %>
                        <%= d.hidden_field :document_type, value: "salary" %>
                    <% end %>

                <div class="form-group">
                  <%= f.number_field :amount_paid, class: 'form-control form-control-user', id: "exampleAMountPaid", placeholder: "Amount paid" %>
                </div>

                <div class="form-group">
                  <%= f.number_field :bonus, class:"form-control form-control-user" ,id:"exampleBonus", placeholder:"Bonus" %>
                </div>


                <div class="form-group">
                  <%= f.date_field :date_payed, class: 'form-control form-control-user', id: "examplePayedDate" %>
                </div>

<%= f.hidden_field :admin_id, value: current_user.id %>



                <div>

                  <%= f.select :employee_id, Employee.employees.collect { |p| [ p.name.humanize, p.id ] }, {include_blank: "Select something"}, { :class => "dropdown"} %>

                </div>

                <%= f.submit "Add Salary", class: "btn btn-primary btn-user btn-block" %>
            <% end %>
            <!--  <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                  </div>
                </div>
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Register Account
                </a>
                <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              </form> -->
            <hr>

            <div class="text-center">
              <a class="small" href="<%= portal_path %>">Don't want to Add Salary? Back!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</body>
