<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
  html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif
  }
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <%= image_tag @salary.employee.image_path.avatar.attached? ? url_for(@salary.employee.image_path.avatar) : "admin.png", style: "width:100%" %>
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2 class="text-white"><%= @salary.employee.name.humanize %></h2>
          </div>
        </div>
        <br>
        <div class="w3-container">
          <p>
            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i><%= @salary.employee.designation.name.humanize %>
          </p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><%= @salary.employee.email %></p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Salary details</b></p>
          <p> Date Paid</p>
          <p><i class="fa fa-calendar fa-fw w3-margin-right w3-large w3-text-teal"></i><%= @salary.date_payed %></p>
          <P>Salary Processed By</P>
          <p>
            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i><%= @salary.processed_by.name.humanize %>
          </p>
          <P>Amount Paid</P>
          <p>
            <i class="fa fa-dollar fa-fw w3-margin-right w3-large w3-text-teal"></i><%= @salary.amount_paid + @salary.bonus %>
          </p>
          <P>Gross Salary</P>
          <p>
            <i class="fa fa-dollar fa-fw w3-margin-right w3-large w3-text-teal"></i><%= @salary.employee.gross_salary %>
          </p>


          <br>

        </div>
      </div>
      <br>

      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i> Uploads</h2>
        <% if current_user.admin %>
            <%= form_for(@salary) do |f| %>
                <%= f.fields_for :documents, @salary.documents.build do |d| %>
                    <%= d.file_field :avatar %>
                    <%= d.hidden_field :document_type, value: "salary" %>
                    <br>
                    <%= d.submit "Upload", class: "btn btn-primary" %>

                <% end %>
            <% end %>
        <% end %>
        <br>


        <% @salary.documents.each do |s| %>
            <% if s.avatar.attached? %>
                <div class="row">
                  <div class="col sm">
                    <%= image_tag url_for(s.avatar), style: "width:50%" %>

                  </div>
                </div>
                <br>
            <% end %>
        <% end %>

      </div>
      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<!--<footer class="w3-container w3-teal w3-center w3-margin-top">-->
<!--<p>Find me on social media.</p>-->
<!--<i class="fa fa-facebook-official w3-hover-opacity"></i>-->
<!--<i class="fa fa-instagram w3-hover-opacity"></i>-->
<!--<i class="fa fa-snapchat w3-hover-opacity"></i>-->
<!--<i class="fa fa-pinterest-p w3-hover-opacity"></i>-->
<!--<i class="fa fa-twitter w3-hover-opacity"></i>-->
<!--<i class="fa fa-linkedin w3-hover-opacity"></i>-->
<!--<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>-->
<!--</footer>-->

</body>

