
.bg-login{
  background-image: image-url('logedin.jpg');
  background-repeat: no-repeat;
  margin-top: 60px;


}

.bg-update{
  background-image: image-url('update.jpg');
  background-repeat: no-repeat;
  margin-top: 70px;

}

.bg-register{
  background-image: image-url('register.webp');
  background-repeat: no-repeat;
  margin-top: 60px;
}

.bg-salary{
  background-image: image-url('salary.png');
  background-repeat: no-repeat;

}

.bg-admin{
  margin-top: 90px;
  background-image: image-url('admins.png');
  background-repeat: no-repeat;
}

.dropdown{

  width:100%;
  height:35px;
  margin-bottom:10px;

}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {

  .form-control {
    color: red;
  }
}

.temp{
  color:white !important;
}
h1{
  margin-top: 70px !important;
  text-align: center;
  line-height: 1;
}
.employees {
  border: 1px solid black;
 width:50%;
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}
